@import "tailwindcss";

/* fonts */
@font-face {
  font-family: IRANYekanBold;
  src: url("/fonts/IRANYekanBold.ttf");
}
@font-face {
  font-family: IRANYekanMedium;
  src: url("/fonts/IRANYekanMedium.ttf");
}
@font-face {
  font-family: Morabba;
  src: url("/fonts/Morabba-Medium.ttf");
}
@font-face {
  font-family: Graphik;
  src: url("/fonts/Graphik-Medium.otf");
}

@theme {
  --color-primary: #3a86ff;
  --color-dark: #202020;
  --color-darkM: #303030;
}

html{
  scroll-behavior: smooth;
}

/* stryle */
body {
  font-family: Graphik;
  background-color: #202020;
  color: white;
  overflow-x: hidden;
}
.container{
  width: 80%;
}

.fadeInAnimation {
  animation: fadeIn 1s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeInAnimation2 {
  animation: fadeIn 1s ease-in-out 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease;
}


/* در فایل globals.css */
.instagram {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}


@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}


/* رنگ اسکرول‌بار برای مرورگرهای Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #202020; /* رنگ بک‌گراند */
}

::-webkit-scrollbar-thumb {
  background-color: #3a86ff; /* رنگ اسکرول */
  border-radius: 20px;
  border: 2px solid #202020; /* فاصله از بک‌گراند */
}
